body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
.container {
    position: relative;
    overflow: hidden;
    padding: 20px;
}
.slide {
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
}
.plant-container {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}
.plant-container::-webkit-scrollbar {
    display: none;
}
.plant-card {
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
}
.plant-img {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}
.product-plant {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translatex(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #f0f0f0;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}
.plant-card:hover .card-btn {
    opacity: 1;
}
.card-btn:hover {
    background: #ccc;
    color:#7A8054;
}


.item {
    height: 200px;

}

form {
    width: 400px;
    background-color: #7A8054;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px #4e5235;
    margin-left: 500px;
}

fieldset {
    border: 1px solid #f0f0f0;
    padding: 10px;
    margin: 0;
}

legend {
    font-weight: bold;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
input[type="date"] {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.gender-group {
    margin-bottom: 10px;
}

.gender-group label {
    display: inline-block;
    margin-left: 10px;
}

input[type="radio"] {
    margin-left: 10px;
    vertical-align: middle;
}

input[type="submit"] {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}