h1 {
      font-family: Ephesis;
      font-size: 100px;
      color: #3d633d;
}

.navbar ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #ffffff;
}

a {
      float: left;
      align-items: center;
      background-color: #ffffff;
      box-sizing: border-box;
      color: rgba(0, 0, 0, 0.85);
      cursor: pointer;
      display: inline-flex;
      font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 16px;
      font-weight: 600;
      justify-content: center;
      line-height: 1.25;
      min-height: 3rem;
      padding: calc(.875rem - 1px) calc(1.5rem - 1px);
      text-decoration: none;
      transition: all 250ms;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: baseline;
      width: auto;
    
}

a:hover,
a:focus {
      border-color: rgba(0, 0, 0, 0.15);
      box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
      color: rgba(0, 0, 0, 0.65);
}
a:active{
      background-color: #6e8e5d;
      border-color: rgba(0, 0, 0, 0.15);
      box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
      color: rgba(0, 0, 0, 0.65);
      transform: translateY(0);
}
a:hover {
      background-color: #6e8e5d;
      color: black;
      transform: rotateY('90deg');
}
.active {
      background-color: #404413;
      color: white;
}
.container {
      position: relative;
      text-align: center;
      color: white;
}
.centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: #F5EFE6;	
      font-size: 55px;
      font-weight: bold;
      font-family: Dancing Script;
}